@charset "UTF-8";
body {
  background-color: green;
}
body .tops {
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("toppage.png");
   height: 830px; 
}
.toppage {
  height: 100px;
  width: 100%;
  position: relative;
}
.asobikata {
  width: 100%;
}
.title {
  height: 100px;
  width: 130%;
  /*background-color: #FF0000;*/
  text-align: center;
  position: absolute;
  color: #FF0000;
}
.title p {
  margin-top: 50px;
}
@media (min-width: 100px) {
.title {
  font-size: 30px;
  left: 40%;
}
}
@media (min-width: 800px) {
 .title {
  font-size: 80px;
  left: 80%;
}
}
.rule {
  width: 100%;
  height: 200px;
  margin: auto;
}
@media (min-width: 800px) {
  .rule {
     position: absolute;
     top: 500px;
  }
}
.start {
  background-color: green;
  display: inline-block;
}
@media (min-width: 800px) {
  .start {
    width: 25%;
    height: 200px;
    font-size: 30px;
  }
}
.start2 {
  background-color: white;
  display: inline-block;
}
@media (min-width: 800px) {
.start2 {
     width: 25%;
     height: 200px;
     font-size: 30px;
  }
}
.start3 {
  background-color: #FF0000;
  display: inline-block;
}
@media (min-width: 800px) {
.start3 {
     width: 25%;
     height: 200px;
     font-size: 30px;
  }
}
.start p {
  margin-top: 50px;
  text-align: center;
}
.start2 p {
   margin-top: 50px;
  text-align: center;
}
.start3 p {
   margin-top: 50px;
  text-align: center;
}
.aite {
  width: 90%;
  height: 150px;
  background-color: green;
  margin: 0 auto 0 auto;
  position: relative;
  margin-top: 60px;
  border-bottom: solid;
  border-color: white;
}
@media (min-width: 800px) {
.aite {
  width: 90%;
  height: 150px;
  background-color: green;
  margin: 0 auto 0 auto;
  position: relative;
  margin-bottom: 0;
  border-bottom: solid;
  border-color: white;
}
}
.aitenonaka {
  width: 100%;
  margin: auto;
  height: 100%
}
@media (min-width: 800px) {
.aitenonaka {
  width: 60%;
  margin: auto;
  height: 100%
}
}
.goal {
  width: 100%;
  height: 100%;
}
.goalkeepar {
  position: absolute;
  left: 34%;
  top: 45%;
  height: 60%;
  margin-bottom: 0;
}
@media (min-width: 800px) {
.goalkeepar {
  position: absolute;
  left: 44%;
  top: 25%;
  height: 80%;
  margin-bottom: 0;
}
}
.goalkeepar-left {
  position: absolute;
  left: 3%;
  top: 45%;
  height: 60%;
  margin-bottom: 0;
}
@media (min-width: 800px) {
.goalkeepar-left {
  position: absolute;
  left: 25%;
  top: 25%;
  height: 80%;
  margin-bottom: 0;
}
}
.goalkeepar-right {
  position: absolute;
  left: 64%;
  top: 45%;
  height: 60%;
  margin-bottom: 0;
}
@media (min-width: 800px) {
.goalkeepar-right {
  position: absolute;
  left: 64%;
  top: 25%;
  height: 80%;
  margin-bottom: 0;
}
}
.eria {
  width: 100%;
  height: 50px;
  background-color: green;
  margin: 0;
  padding: 0;
  border-color: white;
  border-style: solid;
  display: inline-block;
  
}
@media (min-width: 800px) {
.eria {
  width: 70%;
  height: 150px;
  background-color: green;
  margin: 0 auto 0 15%;
  padding: 0;
  border-color: white;
  border-style: solid;
  display: inline-block;
  
}
}
.ball-frontleft {
  margin-left: 150px;
}
@media (min-width: 800px) {
.ball-frontleft {
  margin-left: 155px;
}
}
.ball-front {
  margin-left: 160px;
}
@media (min-width: 800px) {
.ball-front {
  margin-left: 430px;
}
}
.ball-frontright {
  margin-left: 180px;
}
@media (min-width: 800px) {
.ball-frontright {
  margin-left: 680px;
}
}
.ball img {
  height: 80%;
  width: 150%;
  margin: auto;
}
@media (min-width: 800px) {
.ball img {
  height: 100%;
  width: 70%;
  margin: auto;
}
}
.eria-left {
  width: 14%;
  height: 25vh;
  margin: 0 0 0 0.7%;
  background-color: green;
  border-color: white;
  border-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  display: inline-block;
}
.eria-right {
  width: 14%;
  height: 25vh;
  margin: 0;
  background-color: green;
  border-color: white;
  border-style: solid;
  border-left-style: none;
  border-bottom-style: none;
  display: inline-block;
}
.modoru {
  width: 20%;
  display: inline-block;
  background-color: #FF0000;
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  top: 1%;
  left: 5%;
  
}
@media (min-width: 800px) {
 .modoru {
  width: 10%;
  font-size: 30px;
  height: 90px;
}
}
.modoru p {
  margin-top: 20px;
}
.zibunn {
  width: 60%;
  height: 130px;
  /*background-color: green;*/
  margin: 3% auto 0 auto;
  /*display: inline-block;*/
  position: absolute;
  bottom: 3%;
  left: 20%;
}
.zibunn img {
  margin: 10% 0 0 5%;
}
.ball {
  height: 150px;
}
@media (min-width: 800px) {
 .ball {
  width: 55%;
  height: 150px;
  margin: 0 auto 0 auto;
  position: absolute;
  bottom: 23%;
  left: 23%;
}
}
.ball-kakoi-left {
  width: 30%;
  height: 100%;
  margin: 0;
  display: inline-block;
}
@media (min-width: 800px) {
 .ball-kakoi-left {
  width: 30%;
  height: 100%;
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 9%;
}
}
.ball-kakoi-middle {
  width: 30%;
  height: 100%;
  margin: 0;
  display: inline-block;
}
@media (min-width: 800px) {
 .ball-kakoi-middle {
  width: 30%;
  height: 100%;
  margin: 0;
  display: inline-block;
  position: absolute;
  right: 30%;
}
}
.ball-kakoi-right {
  width: 30%;
  height: 100%;
  margin: 0;
  display: inline-block;
}
@media (min-width: 800px) {
 .ball-kakoi-right {
  width: 30%;
  height: 100%;
  margin: 0;
  display: inline-block;
  position: absolute;
  right: 16%;
}
}
.ball-middle img {
  width: 100%;
  height: 100%;
}
@media (min-width: 800px) {
.ball-middle {
  
}
}

.ball-left {
  position: absolute;
  left: -5%;
}

.ball-right {
  position: absolute;
  left: 63%;
}
.left {
  width: 90%;
  height: 80%;
}
.middle {
  width: 90%;
  height: 80%;
}
.right {
  width: 90%;
  height: 80%;
}
.kakoi-left {
  width: 20%;
  height: 90%;
  background-color: green;
  margin-left: 10%;
  display: inline-block;
}
.kakoi-middle {
  width: 20%;
  height: 90%;
  background-color: green;
  margin-left: 10%;
  display: inline-block;
}
.kakoi-right {
  width: 20%;
  height: 90%;
  background-color: green;
  margin-left: 10%;
  display: inline-block;
}
.music {
  
  width: 70%;
  color: #FF773E;
  font-size: 300%;
  /*text-align: center;*/
  margin: 0 auto;
  text-align: center;
  
}
.board {
  float: right;
}
.scoaback {
  background-color: red;
  height: 50px;
  float: right;
  position: absolute;
  right: 5%;
  top:1%;
  /*margin-right: 1%;*/
}
@media (min-width: 800px) {
.scoaback {
  background-color: red;
  height: 300px;
  float: right;
  margin-right: 3%;
  position: absolute;
  right: -2%;
  top: 40%;
}
}
.scoafornt {
  background-color: blue;
  height: 50px;
  float: right;
  position: absolute;
  right: 40%;
  top:1%;
  /*margin-right: 1%;*/
}
@media (min-width: 800px) {
.scoafornt {
  background-color: blue;
  height: 300px;
  float: right;
  position: absolute;
  right: 10%;
  top: 40%;
}
}

.one {
  width: 33%;
  height: 100%;
  background-color: white;
  display: inline-block;
  margin: 0;
}
@media (min-width: 800px) {
.one {
  width: 100%;
  height: 30%;
  background-color: white;
  margin-top: 14%;
}
}
.two {
  width: 33%;
  height: 100%;
  background-color: white;
  display: inline-block;
}
@media (min-width: 800px) {
.two {
  width: 100%;
  height: 30%;
  background-color: white;
  margin-top: 2%;
}
}
.three{
  width: 33%;
  height: 100%;
  background-color: white;
  display: inline-block;
}
@media (min-width: 800px) {
.three {
  width: 100%;
  height: 30%;
  background-color: white;
  margin-top: 2%;
}
}