body {
  background: linear-gradient(1deg, #42b89f, #6fba9f);
}
@media (min-width: 769px) {
  .aitenonaka {
    width: 100%;
    .goal {
      width:60%;
      height: 150px;
      margin: auto;
      margin-top: 5px;
      display: block;
    }
    .goalkeepar {
      width:20%;
      position: absolute;
      top: 2%;
      left:39%;
    }
    .goalkeepar-left {
      width:20%;
      position: absolute;
      top: 2%;
      left:20%;
    }
    .goalkeepar-right {
      width:20%;
      position: absolute;
      top: 2%;
      left:58%;
    }
  }
  
}
@media (max-width: 768px) {
  .aitenonaka {
    width: 100%;
    .goal {
      width:90%;
      height: 100px;
      margin: auto;
      margin-top: 5px;
      display: block;
    }
    .goalkeepar {
      width:25%;
      height: 110px;
      position: absolute;
      top: 3%;
      left: 37%;
    }
    .goalkeepar-left {
      width:25%;
      height: 110px;
      position: absolute;
      top: 3%;
      left: 9%;
    }
    .goalkeepar-right {
      width:25%;
      height: 110px;
      position: absolute;
      top: 3%;
      left: 63%;
    }
  }
}